/* normal listings results */

.shortcode_results_2{
	width:99%;
	float: left;
	border-radius: 0 3px 3px 3px;
	-moz-border-radius: 0 3px 3px 3px;
	-webkit-border-radius: 0 3px 3px 3px;
	border-bottom: 1px solid #dfdfdf;
	border-top: 1px solid #dfdfdf;
	margin-bottom: 10px;
	overflow: hidden;
	background-color: #fff;
}
.shortcode_results_2 .result_name{
	font-weight: bold;
	border-bottom:1px solid #dfdfdf;
}
.shortcode_results_2 .result_location{
	float: right;
	width:218px;
}
.shortcode_results_2 .result_img img{
    float: left;
    margin-right: 1%;
	width: 25%;
	height: 100%;
}
.shortcode_results_2 .result_content{
	width: 73%;
	float: left;
	margin:0 4px;
}
.shortcode_results_2 .result_title {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: black;
	width: 100%;
	padding-right: 5px;
	text-align: left;
	margin-top: 5px;
}
.shortcode_results_2 .result_desc {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	height: 115px;
	margin-top: 5px;
	margin-bottom: 7px;
	float: left;
	overflow: hidden;
	width: 75%;
	white-space: pre-line;
	margin-left: -1%;
	padding-left: 1%;
	border-top:1px solid #dfdfdf;
	border-bottom:1px solid #dfdfdf;
}


.shortcode_results_2 .booking_link {
	width: 132px;
	float: right;
	overflow: hidden;
	background: url(images/bookonline_button.png) no-repeat 0 0;
	text-align: center;
	font-weight: bold;
	color: white;
	height: 30px;
	padding: 6px 11px 0;
	clear: both;
	margin-right:5px;
}	
.result_button a{
	text-decoration:none;
}
.result_button a:hover {
	text-decoration:underline;
}
.shortcode_results_2 .listwebsite {
	width: 115px;
	float: right;
	overflow: hidden;
	background-repeat: no-repeat;
	text-align: right;
	background-position: right top;
	font-weight: bold;
	color: white;
	height: 24px;
	padding-right: 40px;
	padding-top: 4px;
	clear: none;
	margin-right: 5px;
}
.shortcode_results_2 .result_type{
	display: block;
	float: right;
	padding-right: 10px;
}
.shortcode_results_2  .result_rating {
float: left;
}
.shortcode_results_2  .rating{
	float: left;
}
.shortcode_results_2  .result_cost{
	float: left;
	margin-left: 5px;
    font-weight: 500;
}
.shortcode_results_2  .result_button{
	background-repeat: repeat-x;
	background-color: #EBEBEB;
	color: #DA0505;
	float: right;
	font-weight: bold;
	height: 24px;
	margin-right: 5px;
	overflow: hidden;
	text-align: center;
	width: 86px;
	border: 1px solid #dfdfdf;
	margin-bottom: 5px;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}

/* Featured */
.shortcode_results_2 .result_featured{
	background: transparent url(../images/bepro_listings_featured.png) no-repeat 0 0;
	height: 117px;
	width: 118px;
	float: left;
	left: 0;
	margin: -26px 0 0 -27%;
	opacity: .99;
}